#proyects {
    margin-top: 10px;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#proyects-title {
    color: white;
    height: 2vh;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 250%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proyect {
    width: 65%;
    height: 18vh;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.pr-title {
    color: white;
    text-align: center;
    margin: 10px;
    margin-bottom: 25px;
    font-size: 150%;
    margin-bottom: 30px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
}

.proyect p {
    margin-left: 10px;
    margin-top: 50px;
    color: gray;
    font-weight: 900;
    width: 255px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pr-img {
    margin: 0;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 245px;
    height: 105px;
    margin-left: 50px;
    transition: all 0.5s;
}

.pr-img:hover {
    transform: scale(1.5);
    -webkit-box-shadow: 0px 0px 32px -5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 32px -5px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 32px -5px rgba(255, 255, 255, 1);
}

.pr-descriptions {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.links-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.pr-icon {
    color: #fff;
    width: 20px;
    height: 20px;
}

.lang-list {
    color: #fff;
    margin-left: 25px;
    cursor: default;
}

.lang-list ul {
    margin-left: 15px;
    width: 200%;
}

.links-btns a {
    color: #fff;
}

.links-btns li::marker {
    color: transparent;
}

.scrollTop {
    position: absolute;
    z-index: 999;
    bottom: 90vh;
    padding: 60px 30px;
    border: none;
    border-radius: 15px;
}

.scrollTop#right {
    right: 55px;
}

.scrollTop#left {
    left: 55px;
}

.scrollTop a {
    color: rgba(255, 255, 255, 1);
}

.scroll-btn-top {
    position: absolute;
    bottom: 40px;
    height: 50px;
    aspect-ratio: 1;
    translate: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
    transition: all 0.5s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: pulse;
}
.scroll-btn-top span {
    width: 15px;
    aspect-ratio: 1;
    transform: rotate(45deg);
    border-top: 1px solid white;
    border-left: 1px solid white;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: scrollSpans;
    transition: all 0.3s;
}

.scroll-btn-top span:nth-of-type(2) {
    animation-delay: 0.25s;
}

.scroll-btn-top span:nth-of-type(3) {
    animation-delay: 0.5s;
}

@keyframes scrollSpans {
    100% {
        opacity: 0;
        margin-bottom: 0;
        margin-right: 0;
    }
    50% {
        opacity: 1;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    0% {
        opacity: 0;
        margin-bottom: 0;
        margin-right: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        margin-bottom: 15px;
    }

    70% {
        transform: scale(1);
        margin-bottom: 0;
    }

    100% {
        transform: scale(0.95);
        margin-bottom: 15px;
    }
}

@media (max-width: 1350px) {
    .scrollTop {
        display: none;
    }
    .proyect {
        flex-direction: column;
        /* height: 39vh; */
        height: auto;
        gap: 0;
        width: 75%;
    }
    .proyect p {
        margin-top: 0;
        padding: 10px;
    }
    .lang-list ul {
        margin: 0;
    }
    .links {
        flex-direction: column-reverse;
        margin: 10px;
    }

    .links * {
        margin: 0;
    }

    .links-btns {
        font-size: 15px;
        border: 1px dashed white;
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
        margin: 5px;
        margin-inline: 10px;
    }
    .pr-img {
        height: 75%;
        width: 100%;
    }
    .pr-title {
        font-size: 20px;
        position: initial;
        width: 80%;
        height: 15%;
        margin: 5px;
    }
}
