* {
    margin: 0;
    padding: 0;
}

body,
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.GENERAL-CONTAINER {
    height: 100vh;
}

.component {
    scroll-snap-align: center center;
}
